:host {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}



.contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
}

.contact-title {
    color: var(--light-gray-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
    color: var(--white-2);
    font-size: var(--fs-7);
}

.contact-info address {
    font-style: normal;
}

@media (min-width: 580px) {
    .contact-info {
        max-width: calc(100% - 64px);
        width: calc(100% - 64px);
    }
}

@media (min-width: 1250px) {
    .contact-info :is(.contact-link) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contact-info :is(.contact-link, time, address) {
        --fs-7: 14px;
        font-weight: var(--fw-300);
    }
}