.blog-posts {
    margin-bottom: 10px;
}

.blog-posts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.blog-post-item>a {
    position: relative;
    background: var(--border-gradient-onyx);
    height: 100%;
    box-shadow: var(--shadow-4);
    border-radius: 16px;
    z-index: 1;
}

.blog-post-item>a::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--eerie-black-1);
    z-index: -1;
}

.blog-banner-box {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.blog-banner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-1);
}

.blog-post-item>a:hover .blog-banner-box img {
    transform: scale(1.1);
}

.blog-content {
    padding: 15px;
}

.blog-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.blog-meta :is(.blog-category, time) {
    color: var(--light-gray-70);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
}

.blog-meta .dot {
    background: var(--light-gray-70);
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.blog-item-title {
    margin-bottom: 10px;
    line-height: 1.3;
    transition: var(--transition-1);
}

.blog-post-item>a:hover .blog-item-title {
    color: var(--orange-yellow-crayola);
}

.blog-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 450px) {
    .blog-banner-box {
        height: auto;
    }
}

@media (min-width: 580px) {
    .blog-banner-box {
        border-radius: 16px;
    }

    .blog-posts-list {
        gap: 30px;
    }

    .blog-content {
        padding: 25px;
    }
}

@media (min-width: 768px) {
    .blog-posts-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .blog-banner-box {
        height: 230px;
    }
}