:host {
    display: block;
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    margin-bottom: 15px;
    max-height: 112px;
    overflow: hidden;
    transition: var(--transition-2);
}

:host.active {
    max-height: 405px;
}

:host.active .sidebar-info_more {
    opacity: 1;
    visibility: visible;
}

.sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 20px;
}

.info-content .name {
    color: var(--white-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title {
    color: var(--white-1);
    background: var(--onyx);
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}


.info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
}

.info_more-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus {
    background: var(--bg-gradient-yellow-1);
}

.info_more-btn:hover::before,
.info_more-btn:focus::before {
    background: var(--bg-gradient-yellow-2);
}

.info_more-btn span {
    display: none;
}

.sidebar-info_more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
}

@media (min-width: 580px) {
    :host {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
        max-height: 180px;
        margin-bottom: 30px;
    }

    :host.active {
        max-height: 584px;
    }

    .sidebar-info {
        gap: 25px;
    }

    .avatar-box {
        border-radius: 30px;
    }

    .info-content .name {
        margin-bottom: 15px;
    }

    .info-content .title {
        padding: 5px 18px;
    }

    .info_more-btn {
        top: -30px;
        right: -30px;
        padding: 10px 15px;
    }

    .info_more-btn span {
        display: block;
        font-size: var(--fs-8);
    }

    .info_more-btn ion-icon {
        display: none;
    }

    .separator {
        margin: 32px 0;
    }
}

@media (min-width: 768px) {
    :host {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    :host {
        width: 950px;
        box-shadow: var(--shadow-5);
    }
}

@media (min-width: 1250px) {
    :host {
        width: auto;
        position: sticky;
        top: 60px;
        max-height: max-content;
        height: 100%;
        margin-bottom: 0;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar-info {
        flex-direction: column;
    }

    .sidebar-info_more {
        opacity: 1;
        visibility: visible;
    }

    .info-content .name {
        white-space: nowrap;
        text-align: center;
    }

    .info-content .title {
        margin: auto;
    }

    .info_more-btn {
        display: none;
    }

    .separator:last-of-type {
        margin: 15px 0;
        opacity: 0;
    }
}