<div class="sidebar-info">
  <figure class="avatar-box">
    <app-image
      [src]="profile().avatar"
      [alt]="profile().name"
      [width]="imageWidth"
      loaderPadding="10"
    />
    <!-- <img [src]="profile().avatar" [alt]="profile().name" width="80" /> -->
  </figure>

  <div class="info-content">
    <h1 class="name">{{ profile().name }}</h1>

    @if (profile().title) {
    <p class="title">{{ profile().title }}</p>
    }
  </div>

  <button class="info_more-btn" (click)="toggleProfile()">
    <span>Show Contacts</span>

    <ion-icon name="chevron-down"></ion-icon>
  </button>
</div>

<div class="sidebar-info_more">
  <div class="separator"></div>

  <app-contacts [contacts]="profile().contacts" />

  <div class="separator"></div>

  <app-socials [socials]="profile().socials" />
</div>
