.service-title {
    margin-bottom: 20px;
}

.service-list {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 1024px) {
    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }
}