.project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}