<!-- about.jinja -->
<article class="about  active" data-page="about">

  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">

    {% for line in about.presentation.split('\n') %}
    {% if line.strip() %}
    <p>{{ line }}</p>
    {% endif %}
    {% endfor %}

  </section>


  <!--
          - service
        -->

  <section class="service">

    <h3 class="h3 service-title">What i'm doing</h3>

    <ul class="service-list">
      {% for do in doing %}

      <li class="service-item">

        <div class="service-icon-box">
          <img src="{{do.icon}}" alt="design icon" width="30" height="30">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{do.title}}</h4>

          <p class="service-item-text">
            {{do.text}}
          </p>
        </div>

      </li>

      {% endfor %}

    </ul>

  </section>


  <!--
          - testimonials
        -->
  {% if softskills.enabled %}
  <section class="testimonials">

    <h3 class="h3 testimonials-title">{{softskills.title}}</h3>

    <ul class="testimonials-list has-scrollbar">
      {% for skill in softskills.skills %}

      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>

          <figure class="testimonials-avatar-box">
            <img src="{{skill.icon}}" alt="{{skill.title}}" width="60" data-testimonials-avatar>
          </figure>

          <h4 class="h4 testimonials-item-title" data-testimonials-title>{{skill.title}}</h4>

          <div class="testimonials-text" data-testimonials-text>
            <p>
              {{skill.text}}
            </p>
          </div>

        </div>
      </li>

      {% endfor %}

      < </ul>

  </section>



  <!--
          - testimonials modal
        -->

  <div class="modal-container" data-modal-container>

    <div class="overlay" data-overlay></div>

    <section class="testimonials-modal">

      <button class="modal-close-btn" data-modal-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <div class="modal-img-wrapper">
        <figure class="modal-avatar-box">
          <img src="./src/images/avatar-1.png" alt="{{about.name}}" width="80" data-modal-img>
        </figure>

        <img src="./src/images/icon-quote.svg" alt="quote icon">
      </div>

      <div class="modal-content">

        <h4 class="h3 modal-title" data-modal-title>{{about.name}}</h4>

        {# <time datetime="2021-06-14">14 June, 2021</time> #}

        <div data-modal-text>
          <p>
            {# lorem #}
          </p>
        </div>

      </div>

    </section>

  </div>
  {% endif %}

  <!--
          - clients
        -->
  {% if technologies.enabled %}
  <section class="clients">

    <h3 class="h3 clients-title">{{technologies.title}}</h3>

    <ul class="clients-list has-scrollbar">
      {% for icon in technologies.technologies.values() %}

      <li class="clients-item">
        <a href="#">
          <img src="{{icon}}" alt="client logo" width="50" height="50">
        </a>
      </li>

      {% endfor %}

    </ul>

  </section>
  {% endif %}

</article>