<!-- about.jinja -->
<article class="about  active" data-page="about">

  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">

    {% for line in about.presentation.split('\n') %}
    {% if line.strip() %}
    <p>{{ line }}</p>
    {% endif %}
    {% endfor %}

  </section>


  <!--
          - service
        -->

  <section class="service">

    <h3 class="h3 service-title">What i'm doing</h3>

    <ul class="service-list">

      <li class="service-item">

        <div class="service-icon-box">
          <img src="./assets/images/icon-design.svg
                " alt="design icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web design</h4>

          <p class="service-item-text">
            The most modern and high-quality design made at a professional level.
          </p>
        </div>

      </li>

      <li class="service-item">

        <div class="service-icon-box">
          <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web development</h4>

          <p class="service-item-text">
            High-quality development of sites at the professional level.
          </p>
        </div>

      </li>

      <li class="service-item">

        <div class="service-icon-box">
          <img src="./assets/images/icon-app.svg" alt="mobile app icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Mobile apps</h4>

          <p class="service-item-text">
            Professional development of applications for iOS and Android.
          </p>
        </div>

      </li>

      <li class="service-item">

        <div class="service-icon-box">
          <img src="./assets/images/icon-photo.svg" alt="camera icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Photography</h4>

          <p class="service-item-text">
            I make high-quality photos of any category at a professional level.
          </p>
        </div>

      </li>

    </ul>

  </section>


  <!--
          - testimonials
        -->

  <section class="testimonials">

    <h3 class="h3 testimonials-title">Competencies</h3>

    <ul class="testimonials-list has-scrollbar">
      {% for competencie in competencies %}

      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>

          <figure class="testimonials-avatar-box">
            <img src="{{competencie.icon}}" alt="{{competencie.title}}" width="60" data-testimonials-avatar>
          </figure>

          <h4 class="h4 testimonials-item-title" data-testimonials-title>{{competencie.title}}</h4>

          <div class="testimonials-text" data-testimonials-text>
            <p>
              {{competencie.text}}
            </p>
          </div>

        </div>
      </li>

      {% endfor %}

      < </ul>

  </section>


  <!--
          - testimonials modal
        -->

  <div class="modal-container" data-modal-container>

    <div class="overlay" data-overlay></div>

    <section class="testimonials-modal">

      <button class="modal-close-btn" data-modal-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <div class="modal-img-wrapper">
        <figure class="modal-avatar-box">
          <img src="./assets/images/avatar-1.png" alt="{{about.name}}" width="80" data-modal-img>
        </figure>

        <img src="./assets/images/icon-quote.svg" alt="quote icon">
      </div>

      <div class="modal-content">

        <h4 class="h3 modal-title" data-modal-title>{{about.name}}</h4>

        {# <time datetime="2021-06-14">14 June, 2021</time> #}

        <div data-modal-text>
          <p>
            {# lorem #}
          </p>
        </div>

      </div>

    </section>

  </div>


  <!--
          - clients
        -->

  <section class="clients">

    <h3 class="h3 clients-title">Technologies Experience</h3>

    <ul class="clients-list has-scrollbar">
      {% for icon in technologies %}
      
      <li class="clients-item">
        <a href="#">
          <img src="{{icon}}" alt="client logo" width="50" height="50">
        </a>
      </li>

      {% endfor %}

    </ul>

  </section>

</article>