<!-- sidebar.jinja -->
<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="{{about.avatar}}" alt="{{about.name}}" width="80">
    </figure>

    <div class="info-content">
      <h1 class="name" title="{{about.name}}">{{about.name}}</h1>

      <p class="title">{{about.rol}}</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="#" class="contact-link">{{about.email}}</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:{{about.phone}}" class="contact-link">{{about.phone}}</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Birthday</p>

          <time datetime="{{about.birthday}}">{{about.birthday}}</time>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>{{about.location}}</address>
        </div>

      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">

      {% for red, url in social.items() %}
      <li class="social-item">
        <a href="{{url}}" class="social-link" , target="_blank">
          <ion-icon name="logo-{{red}}"></ion-icon>
        </a>
      </li>
      {% endfor %}

    </ul>

  </div>

</aside>