:host {
    display: block;
    position: relative;
}

:host:not(:last-child) {
    margin-bottom: 20px;
}


:host:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
}

:host::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: var(--text-gradient-yellow);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 580px) {
    :host:not(:last-child)::before {
        left: -40px;
    }

    :host::after {
        height: 8px;
        width: 8px;
        left: -43px;
    }
}

@media (min-width: 1250px) {
    .timeline-text {
        max-width: 700px;
    }
}