<h3 class="h3 form-title">Contact Form</h3>

<form action="#" class="form" data-form>
  <div class="input-wrapper">
    <input
      uiInput
      type="text"
      name="fullname"
      placeholder="Full name"
      required
    />

    <input
      uiInput
      type="email"
      name="email"
      placeholder="Email address"
      required
    />
  </div>

  <textarea
    uiInput
    name="message"
    placeholder="Your Message"
    required
  ></textarea>

  <button uiButton type="submit" disabled>
    <ion-icon name="paper-plane"></ion-icon>
    <span>Send Message</span>
  </button>
</form>
