:host {
    display: block;
    animation: fade 0.5s ease backwards;
}

.article-title {
    margin-bottom: 15px;
}

.about-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 15px;
}


@media (min-width: 580px) {
    .article-title {
        margin-bottom: 20px;
    }

    .about-text {
        margin-bottom: 40px;
    }
}