.hidden {
    display: none;
    /* Hides the image initially until loaded */
}

img {
    width: 100%;
    margin: auto;
    transition: var(--transition-1);
}

img.scaled {
    transform: scale(1.1);
}