<!DOCTYPE html>
<html lang="en">

<head>
  <!--meta-->
  <title>{{about.name}} | Portfolio</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{about.presentation}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="product">
  <meta property="og:url" content="https://{{about.username}}.github.io">
  <meta property="og:title" content="{{about.name}} | {{about.rol}} | Portfolio">
  <meta property="og:description" content="{{about.presentation}}">
  <meta property="og:image" content="{{about.avatar}}">
  <meta property="og:image:secure_url" content="{{about.avatar}}">
  <meta property="og:site_name" content="{{about.name}} | {{about.rol}} | Portfolio">
  <meta name="twitter:card" content="photo">
  <meta name="twitter:creator" content="@{{about.username}}">
  <meta name="twitter:title" content="{{about.name}} | {{about.rol}} | Portfolio">
  <meta name="twitter:description" content="{{about.presentation}}">
  <meta name="twitter:image" content="{{about.avatar}}">
  <meta name="twitter:image:width" content="200">
  <meta name="twitter:image:height" content="200">
  <meta name="keywords" content="{{about.name}}, {{technologies.technologies.keys() | join(', ')}}" />
  <link href="https://{{about.username}}.github.io" rel="canonical">
  <!--meta-->


  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./src/images/logo.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./src/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    {% include 'sidebar.jinja' %}

    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      {% include 'navbar.jinja' %}


      <!--
        - #ABOUT
      -->

      {% include 'about.jinja' %}


      <!--
        - #RESUME
      -->

      {% include 'resume.jinja' %}


      <!--
        - #PORTFOLIO
      -->
      {% include 'portfolio.jinja' %}

      <!--
        - #BLOG
        {% include 'blog.jinja' %}
      -->

      <!--
        - #CONTACT
        {% include 'contact.jinja' %}
      -->

    </div>

  </main>


  <!--
    - custom js link
  -->
  <script src="./src/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>